/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
  background: rgb(2,0,36);
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-de-particulas-abstratas-tecnologia-realista_52683-33064.jpg?w=1380&t=st=1698022910~exp=1698023510~hmac=a37198560d3f970ecab2cadf4d86aaee2825427124a97e1600669cdf0580fc39");
  background-size: cover;
  background-repeat: no-repeat;
}
